In [92]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import numpy as np
import pandas as pd

In [93]:
#executable_path = {'executable_path': 'chromedriver'}

executable_path = {'executable_path':'C:/Users/gairo/Downloads/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [94]:
# grabbed the states
url='https://alphabetizer.flap.tv/lists/list-of-states-in-alphabetical-order.php'
browser.visit(url)
html=browser.html
soup=bs(html,'lxml')
us_states=[]
results=soup.find_all('li')
for x in range(len(results)):
    us_states.append(results[x].get_text())

In [86]:
#cleaned up data
url='https://www.tripadvisor.com/TravelersChoice-Destinations-cTop-g1'

browser.visit(url)
html=browser.html
soup=bs(html,"html.parser")
rating=[]
city=[]
country=[]
id=[]
results=soup.find_all('div',class_='winnerLayer')
for result in results:
    rating.append(result.div.span.get_text())
    place=result.find('div',class_='winnerName').div.a.get_text()
    if len(place.split(',')) ==2:
        city.append(place.split(',')[0])
        country.append(place.split(',')[1])
    else:
        city.append(np.nan)
        country.append(place.split(',')[0])

for x in range(len(country)):
    if (country[x].strip() in us_states):
        country[x]='United States'
        if city[x]==np.nan:
            city[x]=country[x] 
    
trip_advisor_df=pd.DataFrame(dict(rank=rating,city=city,country=country,source="trip_advisor"))

In [87]:
trip_advisor_df.set_index('country',inplace=True)
#travel_dest,items

In [88]:
trip_advisor_df

                      rank              city        source
country
 United Kingdom          1            London  trip_advisor
 France                  2             Paris  trip_advisor
 Italy                   3              Rome  trip_advisor
 Greece                  4             Crete  trip_advisor
 Indonesia               5              Bali  trip_advisor
 Thailand                6            Phuket  trip_advisor
 Spain                   7         Barcelona  trip_advisor
 Turkey                  8          Istanbul  trip_advisor
 Morocco                 9         Marrakech  trip_advisor
 United Arab Emirates   10             Dubai  trip_advisor
 Czech Republic         11            Prague  trip_advisor
 Cambodia               12         Siem Reap  trip_advisor
United States           13     New York City  trip_advisor
Jamaica                 14               NaN  trip_advisor
 Vietnam                15             Hanoi  trip_advisor
 Japan                  16             Tokyo  trip_advisor
 Mexico                 17  Playa del Carmen  trip_advisor
 Portugal               18            Lisbon  trip_advisor
 Nepal                  19         Kathmandu  trip_advisor
 India                  20            Jaipur  trip_advisor
 Egypt                  21          Hurghada  trip_advisor
 China                  22         Hong Kong  trip_advisor
 Peru                   23             Cusco  trip_advisor
 Australia              24            Sydney  trip_advisor
 Israel                 25          Tel Aviv  trip_advisor

In [27]:
# url='https://travel.usnews.com/gallery/the-worlds-30-best-places-to-visit-in-2018-19?onepage'
# browser.visit(url)
# html=browser.html
# soup=bs(html,"html.parser")

# results=soup.find_all('p',class_="sc-bdVaJa kdhBcU")

# cities = []
# ratings=[]
# for res in results:
#     data=res.text
# #     print(data)
#     rating=data.split('.')[0].strip()
#     city=data.split('.')[1].strip()
#     city=city.replace(" ","_")
# #     print(city,rating)
#     cities.append(city)
#     ratings.append(rating)
    
# response=soup.findAll('div',class_='Raw-s14xcvr1-0')
    
# city_dict={}
# hrefs=[]
# for rep in response:
#     try:
#         data=rep.a['href']
#         hrefs.append(data)
#     except Exception as e:
#         continue
# cities=cities[1:]
# combo=zip(cities,ratings)
# city_dicts = []
# for city,rating in combo:
#     print('city: ', city)
#     for href in hrefs:
#         print('href: ', href)
#         if city in href:
#             city_dict['href']=data
#             city_dict['city']=city
#             city_dict['rating']=rating
#             city_dicts.append(city_dict)
#             break
            
# city_dicts

In [73]:
#cleaned up data
url="https://www.travelandleisure.com/trip-ideas/best-places-to-travel-in-2018"
browser.visit(url)
html=browser.html
soup=bs(html,'lxml')

In [74]:

country=[]
city=[]
counter=0
results=soup.find_all('h3',class_='glide-slide-title')
check_for_doubles=""
for result in results:
    response=result.get_text()
    
    if check_for_doubles != response:
        if 'The 50 Best Places' not in response:

            response_split=response.strip().split(",")

            if len(response_split)==2:

                # two places added together with 'and' in country
                first_part=response_split[0].strip()
                second_part=response_split[1].strip()

                if ' and' in second_part:
                    
                    second_part=second_part.split(' and')[0]
                    
                country.append(second_part)   
                city.append(first_part)
            else:
                country.append(response_split[0].strip())
                city.append(np.nan)
                
        
        check_for_doubles=response
for x in range(len(country)):
    if (country[x] in us_states):
        country[x]='United States'
        if city[x]==np.nan:
            city[x]=country[x]
       
        
rating=[x for x in range(1,len(country)+1)]
travel_land_leisure=pd.DataFrame(dict(rark=rating,city=city,country=country,source="travel and leisure"))
travel_land_leisure

    rark                  city                   country              source
0      1                 Šolta                   Croatia  travel and leisure
1      2            Greenville             United States  travel and leisure
2      3                   NaN                   Grenada  travel and leisure
3      4          Buenos Aires                 Argentina  travel and leisure
4      5             Los Cabos                    Mexico  travel and leisure
5      6    Walla Walla Valley             United States  travel and leisure
6      7                   NaN                Uzbekistan  travel and leisure
7      8                   NaN                     Egypt  travel and leisure
8      9             Marrakesh                   Morocco  travel and leisure
9     10                   NaN                      Fiji  travel and leisure
10    11           Albuquerque             United States  travel and leisure
11    12                   NaN                    Zambia  travel and leisure
12    13       Archipelago Sea                   Finland  travel and leisure
13    14                   NaN  Colombia’s Pacific Coast  travel and leisure
14    15          Iguazú Falls                 Argentina  travel and leisure
15    16         Salina Island                     Italy  travel and leisure
16    17                   NaN                Montenegro  travel and leisure
17    18               Toronto                    Canada  travel and leisure
18    19           Pyeongchang               South Korea  travel and leisure
19    20           San Antonio             United States  travel and leisure
20    21              Valletta                     Malta  travel and leisure
21    22                   NaN                   Ireland  travel and leisure
22    23                   NaN                    Jordan  travel and leisure
23    24               Bangkok                  Thailand  travel and leisure
24    25                   NaN                 Mauritius  travel and leisure
25    26       The Peloponnese                    Greece  travel and leisure
26    27             São Paulo                    Brazil  travel and leisure
27    28        The Berkshires             United States  travel and leisure
28    29         Luang Prabang                      Laos  travel and leisure
29    30           New Orleans             United States  travel and leisure
..   ...                   ...                       ...                 ...
70    71              Valletta                     Malta  travel and leisure
71    72                   NaN                   Ireland  travel and leisure
72    73                   NaN                    Jordan  travel and leisure
73    74               Bangkok                  Thailand  travel and leisure
74    75                   NaN                 Mauritius  travel and leisure
75    76       The Peloponnese                    Greece  travel and leisure
76    77             São Paulo                    Brazil  travel and leisure
77    78        The Berkshires             United States  travel and leisure
78    79         Luang Prabang                      Laos  travel and leisure
79    80           New Orleans             United States  travel and leisure
80    81                 Boise             United States  travel and leisure
81    82           Mexico City                    Mexico  travel and leisure
82    83                   NaN               The Bahamas  travel and leisure
83    84                   NaN                 Abu Dhabi  travel and leisure
84    85              Shanghai                     China  travel and leisure
85    86            Copenhagen                   Denmark  travel and leisure
86    87              Brussels                   Belgium  travel and leisure
87    88  Mornington Peninsula                 Australia  travel and leisure
88    89               Mendoza                 Argentina  travel and leisure
89    90               Big Sur             United States  travel and leisure
90    91              Tel Aviv                    Israel  travel and leisure
91    92            Washington                      D.C.  travel and leisure
92    93                   NaN                      Bali  travel and leisure
93    94                   NaN        Southern Sri Lanka  travel and leisure
94    95                   NaN                 Greenland  travel and leisure
95    96        Nagambie Lakes                 Australia  travel and leisure
96    97                   NaN                  Slovenia  travel and leisure
97    98              Edmonton                   Alberta  travel and leisure
98    99            Iya Valley                     Japan  travel and leisure
99   100              Bayreuth                   Germany  travel and leisure

[100 rows x 4 columns]

In [30]:
# cleaned up
url='https://www.nytimes.com/interactive/2019/travel/places-to-visit.html'
browser.visit(url)
html=browser.html
soup=bs(html,'lxml')

In [35]:
results=soup.find_all('div',class_='g-header')
country=[]
city=[]
for result in results:
    response_country=result.div.h2.get_text()
    response_country_2=result.div.h3.get_text()
    if response_country_2 !="":
        city.append(response_country)
        country.append(response_country_2)
    else:
        city.append(np.nan)
        country.append(response_country)

for x in range(len(country)):
    val= country[x]
    if  "." in val or (val in us_states) or (val=='New York City'):
        
        country[x]='United States'
        if city[x]=="":
            city[x]=val
    else:
        if "/" in val:
            country[x]='Denmark'
        elif "," in val:
            country[x]=country[x].split(", ")[1]
rating=[x for x in range(1,len(country)+1)]    
new_york_times_df=pd.DataFrame(dict(rank=rating,city=city,country=country,souce="nytimes"))
new_york_times_df

    rank               city                country    souce
0      1                NaN            Puerto Rico  nytimes
1      2              Hampi                  India  nytimes
2      3      Santa Barbara          United States  nytimes
3      4                NaN                 Panama  nytimes
4      5             Munich                Germany  nytimes
5      6              Eilat                 Israel  nytimes
6      7   Setouchi Islands                  Japan  nytimes
7      8            Aalborg                Denmark  nytimes
8      9         The Azores               Portugal  nytimes
9     10  Ontario Ice Caves                 Canada  nytimes
10    11              Zadar                Croatia  nytimes
11    12       Williamsburg          United States  nytimes
12    13                NaN              Las Vegas  nytimes
13    14           Salvador                 Brazil  nytimes
14    15             Danang                Vietnam  nytimes
15    16         Costalegre                 Mexico  nytimes
16    17      Paparoa Track            New Zealand  nytimes
17    18             Puglia                  Italy  nytimes
18    19    Tatra Mountains               Slovakia  nytimes
19    20            Calgary                 Canada  nytimes
20    21      Olkhon Island                 Russia  nytimes
21    22         Huntsville          United States  nytimes
22    23                NaN       Falkland Islands  nytimes
23    24           Aberdeen               Scotland  nytimes
24    25     Golfo Paradiso                  Italy  nytimes
25    26             Dessau                Germany  nytimes
26    27                NaN                  Tunis  nytimes
27    28                NaN                 Gambia  nytimes
28    29    Northern Rivers              Australia  nytimes
29    30    Frisian Islands                Denmark  nytimes
30    31                NaN          United States  nytimes
31    32            Chongli                  China  nytimes
32    33       Orcas Island          United States  nytimes
33    34                NaN             Uzbekistan  nytimes
34    35         Vestlandet                 Norway  nytimes
35    36               Lyon                 France  nytimes
36    37               Doha                  Qatar  nytimes
37    38             Batumi          United States  nytimes
38    39          Marseille                 France  nytimes
39    40                NaN          United States  nytimes
40    41                NaN            Los Angeles  nytimes
41    42              Dakar                Senegal  nytimes
42    43              Perth              Australia  nytimes
43    44                NaN              Hong Kong  nytimes
44    45                NaN                   Iran  nytimes
45    46                NaN                Houston  nytimes
46    47           Columbus          United States  nytimes
47    48            Plovdiv               Bulgaria  nytimes
48    49              Vevey            Switzerland  nytimes
49    50              Cádiz                  Spain  nytimes
50    51   The Elqui Valley                  Chile  nytimes
51    52                NaN  The Islands of Tahiti  nytimes

In [89]:
# import pymongo

In [90]:
# conn="mongodb://localhost:27017"
# client=pymongo.MongoClient(conn)

In [91]:
# db=client.travel_dest
# collection=db.items

In [69]:
#creating function to upload the data to mongo

# def save_trip(row):
#     print(row.to_dict())
#     data=row.to_dict()
#     collection.update({},data,upsert=True)

In [75]:
#trip_advisor_df.apply(save_trip, axis=1)

{'rank': '1', 'city': 'London', 'country': ' United Kingdom', 'source': 'trip_advisor'}
{'rank': '2', 'city': 'Paris', 'country': ' France', 'source': 'trip_advisor'}
{'rank': '3', 'city': 'Rome', 'country': ' Italy', 'source': 'trip_advisor'}
{'rank': '4', 'city': 'Crete', 'country': ' Greece', 'source': 'trip_advisor'}
{'rank': '5', 'city': 'Bali', 'country': ' Indonesia', 'source': 'trip_advisor'}
{'rank': '6', 'city': 'Phuket', 'country': ' Thailand', 'source': 'trip_advisor'}
{'rank': '7', 'city': 'Barcelona', 'country': ' Spain', 'source': 'trip_advisor'}
{'rank': '8', 'city': 'Istanbul', 'country': ' Turkey', 'source': 'trip_advisor'}
{'rank': '9', 'city': 'Marrakech', 'country': ' Morocco', 'source': 'trip_advisor'}
{'rank': '10', 'city': 'Dubai', 'country': ' United Arab Emirates', 'source': 'trip_advisor'}
{'rank': '11', 'city': 'Prague', 'country': ' Czech Republic', 'source': 'trip_advisor'}
{'rank': '12', 'city': 'Siem Reap', 'country': ' Cambodia', 'source': 'trip_advisor'}
{'rank': '13', 'city': 'New York City', 'country': 'United States', 'source': 'trip_advisor'}
{'rank': '14', 'city': nan, 'country': 'Jamaica', 'source': 'trip_advisor'}
{'rank': '15', 'city': 'Hanoi', 'country': ' Vietnam', 'source': 'trip_advisor'}
{'rank': '16', 'city': 'Tokyo', 'country': ' Japan', 'source': 'trip_advisor'}
{'rank': '17', 'city': 'Playa del Carmen', 'country': ' Mexico', 'source': 'trip_advisor'}
{'rank': '18', 'city': 'Lisbon', 'country': ' Portugal', 'source': 'trip_advisor'}
{'rank': '19', 'city': 'Kathmandu', 'country': ' Nepal', 'source': 'trip_advisor'}
{'rank': '20', 'city': 'Jaipur', 'country': ' India', 'source': 'trip_advisor'}
{'rank': '21', 'city': 'Hurghada', 'country': ' Egypt', 'source': 'trip_advisor'}
{'rank': '22', 'city': 'Hong Kong', 'country': ' China', 'source': 'trip_advisor'}
{'rank': '23', 'city': 'Cusco', 'country': ' Peru', 'source': 'trip_advisor'}
{'rank': '24', 'city': 'Sydney', 'country': ' Australia', 'source': 'trip_advisor'}
{'rank': '25', 'city': 'Tel Aviv', 'country': ' Israel', 'source': 'trip_advisor'}

C:\Users\gairo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  after removing the cwd from sys.path.

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
20    None
21    None
22    None
23    None
24    None
dtype: object